body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orangered;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.linked-button {
  text-decoration: none;
  color: white;
  font-weight: 400;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;

  border-radius: 5px;
}
.top-baner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-left: 5%;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 40px grey;
}
.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: 0 120px !important;
}
#full {
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
  border-left: 7px solid;
}
#junior {
  border-image: linear-gradient(rgb(251, 255, 0), rgb(209, 19, 19));
  border-image-slice: 1;
  border-left: 7px solid;
}
footer p {
  text-align: center;
}
